@tailwind base;
@tailwind components;
@tailwind utilities;

*,p{
    margin: 0;
}

.main{
    min-height: 86vh;
}

.theme-light {
    background: white;
    color: black;
  }
  
  .theme-dark {
    background: black;
    color: white;
  }

  .menu {
    filter: drop-shadow(1px 1px 1px #4700b3);
    width: 300px;
  }

  



